<div class="form__input">
    <label class="form__label" id="label-{{type}}">
        {{label}}
    </label>
    <div class="form__input-block">
        <input class="form__control" placeholder="{{placeholder}}" type="{{type}}">
        <i class="{{icon}}"></i>
    </div>
    <span class="form__invalid-input">{{message}}</span>
</div>