<div class="blurb">
    <div class="blurb__content">
        <{{tagFour}} class="heading-four">{{blurbTitle}}</{{tagFour}}>
        <p>{{blurbText}}</p>
    </div>
    <span class="link-icon link-icon__more">
        <span><i class="las la-plus"></i><span class="text-link">{{moreText}}</span></span>
        <span><i class="las la-minus"></i><span class="text-link">{{lessText}}</span></span>
        </span>
</div>