<div  class="teaser">  
   <div class="teaser__media" data-video="{{linkVideo}}" >{{>media/media image}}</div>
        <div class="teaser__detail">
            <{{tagSix}} class="heading-six">{{title}}</{{tagSix}}>
            {{#if paraText}}
            <p>{{paraText}}</p>
            {{/if}}
            <span>{{date}}</span>
            {{>teaserMenu/teaserMenu}}
        </div>
</div>