{{load this 'presets/fortuneFavours'}}
<div class="favour">
    <a href="{{backLink}}" class="back back__favour"><i class="las la-times"></i></a>
    <div class="favour__content">                
        <{{tagOne}} class="heading-one">{{>title/title titleFortune}}</{{tagOne}}>
        <p>{{paragraph}}</p>
        <div class="favour-menu">
        {{>menu/menu}}
        <div class="favour__img">
            {{>media/media image}}
        </div>
        </div>                
    </div>   
</div>   