<div class="main-title" data-start="{{gradientStart}}" data-middle="{{gradientMiddle}}" data-end="{{gradientEnd}}" style="background: linear-gradient(to right, {{gradientStart}} 1%,{{gradientMiddle}} 49%,{{gradientEnd}} 100%)">
    <{{tagOne}} class="heading-one">{{titleText}} </{{tagOne}}>
    <div class="main-title__img">
        <img src="{{imageSrc}}" alt="{{altText}}" />
    </div>
</div>