<div class="summary">
    <div class="summary__content">
        <{{tagFour}} class="heading-four">{{summaryTitle}}</{{tagFour}}>    
        <ul class="summary__list">
            {{#summaryDetail}}
            <li>
                <span class="summary__left">{{textLeft}}</span>
                <span class="summary__right">{{textRight}}</span>
            </li>    
            {{/summaryDetail}}    
        </ul>    
    </div>
</div>