<div class="listing">
    <{{tagFive}} class="heading-five">{{title}}</{{tagFive}}>
    {{#if subTitle}}
    <{{tagFive}} class="heading-five">{{subTitle}}</{{tagFive}}>
    {{/if}}
    <span class="listing__text listing__text--title">{{author}}</span>
    <span class="listing__text">{{dateTime}}</span>
</div>